* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-thumbnail {
max-width:700px;
}

.inputBox {

    display: block;
    margin: 2% auto;
    text-align: center;
}

#colon {
    padding: 0 1%;
    font-size: 20px;
}

.one {
    margin-left: 1%;
}


#btn {
   /* text-align: center; */
   padding-bottom: 1%;
   padding-left: 2.5%;
   padding-top: 2%;
   margin: 0 auto;
}

.attrBox {
    margin-left: 26%;
    padding: 2%;
    border-style: outset;
    border-width: 3px;
}



