.inputBox {

    display: block;
    margin-top: 2%;
    margin-left: 2%;
    /* margin-right: 9.5%; */
    /* text-align: center; */
}

#colon {
    padding: 0 1%;
    font-size: 20px;
}

.one {
    margin-left: 1%;
}

.two {
    margin: 2%;
}

#btn {
   /* text-align: center; */
   padding-bottom: 1%;
   padding-left: 2.5%;
   padding-top: 2%;
   margin: 0 auto;
}

.attrBox {
    padding: 2%;
}

#subcats {
    
    margin-top: 1%;
    border-style: inset;
    border-width: 3px;
    width: 50%;
}

.listnostyle {
    list-style: none;
    font-size: 1.5em;
    margin: 1%;
}

#addbtn {
margin-left: 15px;
}

.updateBtn {
    position: relative;
    }
    
    .updateBtn p {
        position: absolute;
        bottom: 0;
        }

.navbar {
  position: fixed;
}

#addSpace {
    padding-top: 6%;
}

.imgThumb {
    max-width: 39%;
    max-height: 15%;
    margin: 0%;
}

.line {
    display: inline-block;
    table-layout: fixed;
    width: 100%;
}
.tdNoPad {
    padding: unset;
    margin: unset;
}
.td {
    text-align: center;
}

body { 

    font-family: 'MedievalSharp', cursive;
    background: url("./components/deathAxe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {

   margin: 5% 0;
   

}

.btn-dark {

    padding-top: 5%;

}
.table {
    background-color: rgba(255, 255, 255, 0.65);
}

.table {


    background-color: rgba(255,255,255,0.65);


}

.shadow-lg {

    font-size: 125%;
    margin-left: 1%;
   
    

}

h5 {

    margin-top: 25%;


}







 