.img-thumbnail {
max-width:700px;
}
.inputBox {

    display: block;
    margin-top: 2%;
    margin-left: 2%;
    /* margin-right: 9.5%; */
    /* text-align: center; */
}
#colon {
    padding: 0 1%;
    font-size: 20px;
}
.one {
    margin-left: 1%;
}
#btn {
   /* text-align: center; */
   padding-bottom: 1%;
   padding-left: 2.5%;
   padding-top: 2%;
   margin: 0 auto;
}

.attrBox {
  
    
    padding: 2%;
}

#subcats {
    
    margin-top: 1%;
    border-style: inset;
    border-width: 3px;
    width: 50%;
}
.listnostyle {
    list-style: none;
    font-size: 1.5em;
    margin: 1%;
}
#addbtn {
margin-left: 15px;
}
.updateBtn {
    position: relative;
    }
    .updateBtn p {
        position: absolute;
        bottom: 0;
        }
.navbar {

  position: fixed;


}

#addSpace {

    padding-top: 6%;

}

